@{
    ViewData["Title"] = "Tutorial";
}

<div>
    Welcome to the tutorial!
    <div>
        <div>
            <p>
                This query will create a table with the name "Game" with the following criteria.<br/>
                The format for creating table is CREATE tableName(columnName dataType lengthOfChars nullable, ~repeat~)<br/>
                <b>Note:</b> the only data types are string, int, and bool<br/>
                Booleans require a char length of 5<br/>
            </p>
            <div class="input-group">
                <textarea class="form-control" disabled="disabled">
                    CREATE Game(ID int 99 false, Name string 100 false, Rating int 2 true, Price int 2 false, InventoryCount int 3 false)
                </textarea>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" onclick="CreateGame();" id="CreateGameButton">Submit</button>
                </span>
            </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
        <div id="CreateGameTableDiv">

        </div>
    </div>


    <div>
        <p>
            This query will insert our first game into the Game table we created.<br/>
            The format for inserting is INSERT tableName VALUES(1 Value, 2 Value, ~repeat for all columns~)<br/>
            <b>Note:</b> The values have to coincide with what you specified or it won't work.<br/>
        </p>
        <div>
            This Query will work
            <div class="input-group">
                <textarea type="text" class="form-control" disabled="disabled">
                    INSERT Game VALUES(1, League, , 99, 999);
                    INSERT Game VALUES(2, Speed Runners, 99, 99, 23);
                </textarea>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" onclick="InsertFirstGame();" id="CreateGameButton">Submit</button>
                </span>
            </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->

        <div id="InsertFirstGameTableDiv">

        </div>

        <div>
            This Query will not work
            <div class="input-group">
                <textarea type="text" class="form-control" disabled="disabled">
                    INSERT Game VALUES(LOL , what, hmm, idk, ran Out Of Things To Say) 
                </textarea>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" onclick="InsertFirstWrongGame();" id="CreateGameButton">Submit</button>
                </span>
            </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->

        <div id="InsertFirstGameTableDivWrong">

        </div>
    </div>

    <div>
        <div>
            Let's add another table with more columns and inserts to play with
            <div class="input-group">
                <textarea type="text" class="form-control"disabled="disabled">
                    CREATE Movie(ID int 99 false, Name string 99 true, Rating int 2 true, Good bool 5 true);
                    INSERT Movie VALUES(1, Star Wars, 9, true);
                    INSERT Movie VALUES(2, Star Treck, 7, true);
                    INSERT Movie VALUES(3, Star Walk, 5, false) 
                </textarea>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" onclick="LargeTableCreate();" id="lol">Submit</button>
                </span>
            </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
        <div id="LargeTableCreate">

        </div>
    </div>

    <div>
        <div>
            You can Delete certain rows by specifying the column you want to check and the value you want to check by
            <p></p>
            The syntax is Delete From *tableName* where *checkColumn* = *value*
            <div class="input-group">
                <textarea type="text" class="form-control" disabled="disabled">
                    DELETE FROM Movie WHERE ID = 1
                </textarea>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" onclick="LargeTableDeleteRow();" id="lol">Submit</button>
                </span>
            </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
        <div id="LargeTableDeleteRow">

        </div>
    </div>

    <div>
        <div>
            Join?
            <div class="input-group">
                <textarea type="text" class="form-control" disabled="disabled">
                    JOIN Game AND Movie WHERE ID = ID
                </textarea>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" onclick="LargeTableJoin();" id="lol">Submit</button>
                </span>
            </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
        <div id="LargeTableJoin">

        </div>
    </div>

    <div>
        <div>
            Let's update!
            <div class="input-group">
                <textarea type="text" class="form-control" disabled="disabled">
                    UPDATE Movie SET Name = Quick Walk WHERE Name = Star Walk
                </textarea>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" onclick="LargeTableUpdate();" id="lol">Submit</button>
                </span>
            </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
        <div id="LargeTableUpdate">

        </div>
    </div>

</div>


<script>
    function CreateGame() {
        $.ajax({
            type: 'POST',
            url: '/Home/CreateGameTut',
            data: {
                query:
                    "CREATE Game (ID int 99 false, Name string 100 false, Rating int 2 true, Price int 2 false, InventoryCount int 3 false)"
            },
            cache: false,
            success: function(result) {
                console.log(result);
                $('#CreateGameTableDiv').html(result);

            }
        });
    }

    function InsertFirstGame() {
        $.ajax({
            type: 'POST',
            url: '/Home/CreateGameTut',
            data: {
                query:
                    "INSERT Game Values (1, League, 89, 99, 999); " +
                        "Insert Game Values (2, Speed Runners, 99, 99, 23);"
            },
            cache: false,
            success: function(result) {
                console.log(result);
                $('#InsertFirstGameTableDiv').html(result);

            }
        });

    }

    function InsertFirstWrongGame() {
        $.ajax({
            type: 'POST',
            url: '/Home/CreateGameTut',
            data: { query: "Insert Game Values (LOL , what, hmm, idk, ran Out Of Things To Say)" },
            cache: false,
            success: function(result) {
                console.log(result);
                $('#InsertFirstGameTableDivWrong').html(result);

            }
        });
    }

    function LargeTableCreate() {
        $.ajax({
            type: 'POST',
            url: '/Home/CreateMovieTut',
            data: {
                query:
                    "CREATE Movie(ID int 99 false, Name string 99 true, Rating int 2 true, Good bool 5 true);" +
                        "Insert Movie Values(1, Star Wars, 9, true);"  +
                        "Insert Movie Values(2, Star Treck, 7, true);" +
                        "Insert Movie Values(3, Star Walk, 5, false)"
            },
            cache: false,
            success: function(result) { 
                console.log(result);
                $('#LargeTableCreate').html(result);
            }
        });
    }

    function LargeTableDeleteRow() {
        $.ajax({
            type: 'POST',
            url: '/Home/CreateMovieTut',
            data: { query: "DELETE FROM Movie WHERE ID = 1" },
            cache: false,
            success: function(result) {
                console.log(result);
                $('#LargeTableDeleteRow').html(result);
            }
        });
    }

    function LargeTableJoin() {
        $.ajax({
            type: 'POST',
            url: '/Home/ReturTutInput',
            data: { query: "JOIN Game, Movie ON ID = ID" },
            cache: false,
            success: function(result) {
                console.log(result);
                $('#LargeTableJoin').html(result);
            }
        });
    }

    function LargeTableUpdate() {
        $.ajax({
            type: 'POST',
            url: '/Home/CreateMovieTut',
            data: { query: "UPDATE Movie SET Name = Quick Walk WHERE Name = Star Walk" },
            cache: false,
            success: function(result) {
                console.log(result);
                $('#LargeTableUpdate').html(result);
            }
        });
    }
</script>