@{
    ViewData["Title"] = "Tutorial";
}

<div>
    Welcome to the tutorial!
    <div>
        <div>
            <p>
                This query will create a table with the name "Car" with the following criteria.<br/>
                The format for creating table is CREATE tableName(columnName dataType lengthOfChars nullable, ~repeat~)<br/>
                <b>Note:</b> the only data types are string, int, and bool<br/>
                Booleans require a char length of 5<br/>
            </p>
            <div class="input-group">
                <textarea class="form-control" disabled="disabled">
                    CREATE Car(ID int 99 false, Name string 100 false, Rating int 2 true, Price int 2 false, InventoryCount int 3 false)
                </textarea>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" onclick="CreateCar();" id="CreateCarButton">Submit</button>
                </span>
            </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
        <div id="CreateCarTableDiv">

        </div>
    </div>


    <div>
        <p>
            This query will insert our first Car into the Car table we created.<br/>
            The format for inserting is INSERT tableName VALUES(1 Value, 2 Value, ~repeat for all columns~)<br/>
            <b>Note:</b> The values have to coincide with what you specified or it won't work.<br/>
        </p>
        <div>
            This Query will work
            <div class="input-group">
                <textarea type="text" class="form-control" disabled="disabled">
                    INSERT Car VALUES(1, Ford, 99, 999);
                    INSERT Car VALUES(2, Chevy, 99, 99, 23);
                </textarea>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" onclick="InsertFirstCar();" id="CreateCarButton">Submit</button>
                </span>
            </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->

        <div id="InsertFirstCarTableDiv">

        </div>

        <div >
           <p> This Query will not work</p>
            <div class="input-group">
                <textarea type="text" class="form-control" disabled="disabled">
                    INSERT Car VALUES(LOL , what, hmm, idk, la la land) 
                </textarea>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" onclick="InsertFirstWrongCar();" id="CreateCarButton">Submit</button>
                </span>
            </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->

        <div id="InsertFirstCarTableDivWrong">

        </div>
    </div>

    <div>
        <div>
            Let's add another table with more columns and inserts to play with
            <div class="input-group">
                <textarea type="text" class="form-control"disabled="disabled">
                    CREATE Classes(ID int 99 false, Name string 99 true, Rating int 2 true, Good bool 5 true);
                    INSERT Classes VALUES(1, CMPS, 482, true);
                    INSERT Classes VALUES(2, CMPS, 431, true);
                    INSERT Classes VALUES(3, CMPS, 439, false) 
                </textarea>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" onclick="LargeTableCreate();" id="lol">Submit</button>
                </span>
            </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
        <div id="LargeTableCreate">

        </div>
    </div>

    <div>
        <div>
            You can Delete certain rows by specifying the column you want to check and the value you want to check by
            <p></p>
            The syntax is Delete From *tableName* where *checkColumn* = *value*
            <div class="input-group">
                <textarea type="text" class="form-control" disabled="disabled">
                    DELETE FROM Classes WHERE ID = 1
                </textarea>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" onclick="LargeTableDeleteRow();" id="lol">Submit</button>
                </span>
            </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
        <div id="LargeTableDeleteRow">

        </div>
    </div>

    <div>
        <div>
            Join?
            <div class="input-group">
                <textarea type="text" class="form-control" disabled="disabled">
                    JOIN Car AND Classes WHERE ID = ID
                </textarea>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" onclick="LargeTableJoin();" id="lol">Submit</button>
                </span>
            </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
        <div id="LargeTableJoin">

        </div>
    </div>

    <div>
        <div>
            Let's update!
            <div class="input-group">
                <textarea type="text" class="form-control" disabled="disabled">
                    UPDATE Classes SET Name = Quick Walk WHERE Name = Star Walk
                </textarea>
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" onclick="LargeTableUpdate();" id="lol">Submit</button>
                </span>
            </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
        <div id="LargeTableUpdate">

        </div>
    </div>

</div>


<script>
    function CreateCar() {
        $.ajax({
            type: 'POST',
            url: '/Home/CreateCarTut',
            data: {
                query:
                    "CREATE Car (ID int 99 false, Name string 100 false, Rating int 2 true, Price int 2 false, InventoryCount int 3 false)"
            },
            cache: false,
            success: function(result) {
                console.log(result);
                $('#CreateCarTableDiv').html(result);

            }
        });
    }

    function InsertFirstCar() {
        $.ajax({
            type: 'POST',
            url: '/Home/CreateCarTut',
            data: {
                query:
                    "INSERT Classes Values (1, CMPS 161, 89, 99, 999); " +
                        "Insert Cars Values (2, Focus, 99, 99, 23);"
            },
            cache: false,
            success: function(result) {
                console.log(result);
                $('#InsertFirstCarTableDiv').html(result);

            }
        });

    }

    function InsertFirstWrongCar() {
        $.ajax({
            type: 'POST',
            url: '/Home/CreateCarTut',
            data: { query: "Insert Cars Values (LOL , what, hmm, idk, ran Out Of Things To Say)" },
            cache: false,
            success: function(result) {
                console.log(result);
                $('#InsertFirstCarTableDivWrong').html(result);

            }
        });
    }

    function LargeTableCreate() {
        $.ajax({
            type: 'POST',
            url: '/Home/CreateClassesTut',
            data: {
                query:
                    "CREATE Classes (ID int 99 false, Name string 99 true, Class Number int 2 true, Good bool 5 true);" +
                        "Insert Classes Values(1, CMPS, 120, true);"  +
                        "Insert Classes Values(2, CMPS, ,401 true);" +
                        "Insert Classes Values(3, CMPS, 390, false)"
            },
            cache: false,
            success: function(result) { 
                console.log(result);
                $('#LargeTableCreate').html(result);
            }
        });
    }

    function LargeTableDeleteRow() {
        $.ajax({
            type: 'POST',
            url: '/Home/CreateClassesTut',
            data: { query: "DELETE FROM Classes WHERE ID = 1" },
            cache: false,
            success: function(result) {
                console.log(result);
                $('#LargeTableDeleteRow').html(result);
            }
        });
    }

    function LargeTableJoin() {
        $.ajax({
            type: 'POST',
            url: '/Home/ReturTutInput',
            data: { query: "JOIN Car, Classes ON ID = ID" },
            cache: false,
            success: function(result) {
                console.log(result);
                $('#LargeTableJoin').html(result);
            }
        });
    }

    function LargeTableUpdate() {
        $.ajax({
            type: 'POST',
            url: '/Home/CreateClassTut',
            data: { query: "UPDATE Classes SET Name = CMPS 482 WHERE Name = Ford" },
            cache: false,
            success: function(result) {
                console.log(result);
                $('#LargeTableUpdate').html(result);
            }
        });
    }
        function LargeTableSelect() {
        $.ajax({
            type: 'POST',
            url: '/Home/CreateClassTut',
            data: { query: "SELECT Classes SET Name = CMPS 161 WHERE Name = CMPS 411 " },
            cache: false,
            success: function(result) {
                console.log(result);
                $('#LargeTableSelect').html(result);
            }
        });
    }
</script>